body {
    /* apply background color to page to make text pop more */
    background-color: burlywood;
}

/* element selector for h1 */
h1 {
    /* color for the heading of the meeting notes*/
    color: rgb(4, 0, 255);
    /* added absolute units for title */
    font-size: 90px;

    /* added sizing for the header */
    height: 0%;
    width: 0%;
    max-width: 0%;
    min-width: 0%;
}

h2 {
    /* added absolute units for the date */
    font-size: 70px;
    /* color for topic */
    color: rgb(255, 0, 0);
    background-color: black;
}

h3 {
    /* added absolute units for the attendence list */
    font-size: 30px;
}

p {
    /* added relative units for the text */
    font-size: 1em;

    /* box model for general text */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px; 
    margin-right: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; 

    /* added position for general text */
    position: static;
}

span1 {
    /*added relative units for the names in attendence list */
    font-size: 1.5em;
}

ol {
    /* added relative units */
    font-size: 85%;
}

/* display list of names on one line */
li {
    display: inline;

    /* relative position to attendence list */
    position: relative;
    right: 30px;
}

/* box model for section headers */
.subheader-text {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px; 
    margin-right: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; 

    border-style: double;
    border-color: blue;
    border-width: 2px;
    border-radius: 2px;
}
/* added more css style for sub headers */
.text {
    color:rgb(141, 13, 41);
    text-decoration: underline rgb(187, 50, 205);
    text-align: center;

    /* block for sub headers to take up full width */
    display: block;
}

/* Pseudo-class Selector */
/* mouse on reddit link */
a:hover {
  color: rgb(123, 255, 105);
}

/* clicked reddit link */
a:active {
  color: rgb(255, 0, 234);
}

.flex-container {
    /* flex box attributes */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: slateblue;

    grid-template-columns: 10px;
    grid-template-rows: 100px;
}

.flex-container > .item {
    /* flexbox children */
    background-color: black;
    color: white;
}

.grid {
    /* grid attributes */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px;
    justify-content: space-evenly;
}

.grid > .child {
    /* grid children */
    background-color: green;
    text-align: center;
    font-size: 100px;
}

/* fonts for certain text */
.f1 {
    font-family:  "Times New Roman", Times, serif;
}
.f2 {
    font-family: "Lucida Console", "Courier New", monospace;
}
.f3 {
    font-family: 'Roboto'; 
}

/* class selector */
.bluehighlight {
    background-color: blue;
}

/* id selector */
#red-text {
    color: red;
}

/* universal selector to center allign everything*/
*{
    text-align: center;
}

/* attribute selector for links*/
a[target] {
    background-color: aqua;
}

/* selector list to highlight all headers*/
h1, h2, h3 { 
    background-color: white; 
}