body {
    /* apply background color to page to make text pop more */
    background-color: burlywood;
}

h1 {
    /* color for the heading of the meeting notes*/
    color: rgb(4, 0, 255);
    /* added absolute units for title */
    font-size: 90px;

    /* added sizing for the header */
    height: 0%;
    width: 0%;
    max-width: 0%;
    min-width: 0%;
}

h2 {
    /* added absolute units for the date */
    font-size: 70px;
    /* color for topic */
    color: rgb(255, 0, 0);
    background-color: black;
}

h3 {
    /* added absolute units for the attendence list */
    font-size: 30px;
}

p {
    /* added relative units for the text */
    font-size: 1em;

    /* box model for general text */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px; 
    margin-right: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; 
}

span1 {
    /*added relative units for the names in attendence list */
    font-size: 1.5em;
}

ol {
    /* added relative units */
    font-size: 85%;
}

/* display list of names on one line */
li {
    display: inline;
}

/* box model for section headers */
.subheader-text {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px; 
    margin-right: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; 

    border-style: double;
    border-color: blue;
    border-width: 2px;
    border-radius: 2px;
}
/* added more css style for sub headers */
.text {
    color:rgb(141, 13, 41);
    text-decoration: underline rgb(187, 50, 205);
    text-align: center;

    /* block for sub headers to take up full width */
    display: block;
}
/*
.div1 {
    height: 0%;
    width: 0%;
    max-width: 0%;
    min-width: 0%;
}*/
